.TodoItem {
    margin: 0;
    cursor: pointer;
    color: white;
  
    .container {
      border: 1px solid salmon;
      padding: 10px 10px;
      border-radius: 20px;
      margin: 30px;
      display: flex;
      justify-content: space-between;

      &:hover {
        background-color: rgb(243, 154, 144);
        color: rgb(27, 24, 32);
        .icon {
          color: white;
        }
      }
    
      &:active {
        background-color: rgba(250, 128, 114, 0.732);
       
      }

      .icon {
        font-size: 30px;
        margin-right: 20px;
        color: salmon;
      }
    }
    
    p {
       margin: 0 0 0 20px;
       font-family: 'Indie Flower', cursive; 
       font-size: 28px;
    }

    $breakpoint-tablet: 768px;
    @media (min-width: $breakpoint-tablet) {
        .container {
           margin: 30px 80px;
        }
    }

    $breakpoint-desktop: 1024px;
    @media (min-width: $breakpoint-desktop) {
        .container{
            margin: 30px 200px;
        }
    }
  }
  
  .statusDone {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.71);
    .container {
      background-color: rgba(139, 90, 85, 0.718);

      &:hover {
        background-color: rgba(139, 90, 85, 0.718); 
      }
    }

  }