.Navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    input {
        font-size: 25px;
        padding: 20px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
       
    }

    $breakpoint-tablet: 768px;
    @media (min-width: $breakpoint-tablet) {
        input {
           width: 600px;
        }
    }

    $breakpoint-desktop: 1024px;
    @media (min-width: $breakpoint-desktop) {
        input {
            width: 800px;
        }
    }
}


  